
<div class="form-container">
  <h1>New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :img_url %>
    <%= f.submit class: 'btn btn-warning'%>
  <% end %>
</div>

